.ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "IBM Plex Mono", 'Arial', sans-serif;
    color: aliceblue;
    width: 100%;
    background-image: url("1601.png"); /*1601.png, rofl.jpg*/
    background-size: cover;
}
header {
    text-align: center;
    font-size: 3.5em;
    margin:0
}

header h1{
    color: rgba(255, 215, 207, 1);
}
header h2{
    color: rgba(255, 215, 207, 1);
}
main {
    padding-bottom: 1200px;
    margin:4%
}
img {
    max-width: 100%;
    height: max-content;
    display: block;
  }
.opisanie {
    
    border-width: 1px;
    border-style: ridge;
    border-color: black;
    width: 300px;
    height: 900px;
    font-size: 2.5em;
    font-weight: 700;
    text-align: justify;
    
}
.opisanie HEAD_OF_TABLE{
    padding-right: 15%;
    padding-left: 15%;
    color: rgba(90, 54, 167, 1);

}
.opisanie h2{
    color: rgba(180, 87, 183, 1);
}
.opisanie li{
    color: rgba(233, 153, 198, 1);
}
ul.picture {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
ul.picture li {
    margin: 10px;
    flex: 300 0 200px;
 }
