<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overclocks DRG</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="static/css/glav.css">
    <link rel="icon" href="static/icons/overcl.ico">
</head>
<body>
<header>
    <h1>Deep Rock Galactic Overclocks</h1>
    <h2>dwarves</h2>
</header>
<main>
    <ul class="picture">
        <li><img src="static/img/imgGunner.png" alt="Описание 1"></li>
        <li><img src="static/img/imgEngineer .png" alt="Описание 2"></li>
        <li><img src="static/img/imgScout.png" alt="Описание 3"></li>
        <li><img src="static/img/imgDriller.png" alt="Описание 4"></li>
    </ul>
    <ul class="picture">
        <li class="opisanie">
            <HEAD_OF_TABLE>GUNNER'S GUNS:</HEAD_OF_TABLE> <!--GUNNER-->
            <ul>
                <h2>Primary</h2>
                <li>"Lead Storm" Minigun</li>
                <li>"Thunderhead"</li>
                <li>"Hurricane" launcher</li>
                <h2>Secondary</h2>
                <li>"Bulldog" Revolver</li>
                <li>BRT7 Burst Fire Gun</li>
                <li>ArmsKore Coil Gun</li>
            </ul>
        </li>
        <li class="opisanie">
            <HEAD_OF_TABLE>ENGINEER'S GUNS:</HEAD_OF_TABLE> <!--ENGINEER-->
            <ul>
                <h2>Primary</h2>
                <li><a href="/warthog">"Warthog" Auto 210</a></li>
                <li><a href="/stubby">"Stubby" Voltaic SMG</a></li>
                <li><a href="/lok-1">LOK-1 Smart Rifle</a></li>
                <h2>Secondary</h2>
                <li><a href="/pgl_40mm">Deepcore 40mm PGL</a></li>
                <li><a href="/breach_cutter">Breach Cutter</a></li>
                <li><a href="/shard">Shard Diffractor</a></li>
            </ul>
        </li>
        <li class="opisanie">
            <HEAD_OF_TABLE>SCOUT'S GUNS:</HEAD_OF_TABLE> <!--SCOUT-->
            <ul>
                <h2>Primary</h2>
                <li>Deepcore GK2</li>
                <li>M1000 Classic</li>
                <li>DRAK-25 Plasma Carbine</li>
                <h2>Secondary</h2>
                <li>Jury-Rigged Boomstick</li>
                <li>Zhukov NUK17</li>
                <li>Nishanka Boltshark X-80</li>
            </ul>
        </li>
        <li class="opisanie">
            <HEAD_OF_TABLE>DRILLER'S GUNS:</HEAD_OF_TABLE> <!--DRILLER-->
            <ul>
                <h2>Primary</h2>
                <li><a href="/crspr">CRSPR Flamethrower</a></li>
                <li><a href="/cryo">Cryo Cannon</a></li>
                <li><a href="/sludge">Corrosive Sludge Pump</a></li>
                <h2>Secondary</h2>
                <li><a href="/subata">Subata 120</a></li>
                <li><a href="/epc">Experimental Plasma Charger</a></li>
                <li><a href="/cwc">Colette Wave Cooker</a></li>
            </ul>
        </li>
    </ul>

</main>
<about>
    <a href="https://deeprockgalactic.wiki.gg/wiki/Weapon_Overclocks">Officale DRG site</a>
    <a href="https://mail.google.com/mail/u/0/#inbox">Our contacts</a>
</about>
</body>
</html>
