<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="shablon.css" />
    <link rel="icon" href="overcl.ico" />
    <title>Boomstick</title>
  </head>
  <body>
    <header>
      <h1>Boomstick</h1>
    </header>
    <main>
      <div class="flex-container">
        <div>
          <img src="Special powder.png" alt="AI_stability_engine" />
        </div>
        <div class="text">
          <h2>Special powder</h2>
          <h3>
            <p>
              В отличие от Hoverclock'а, намного полезнее в плане мобильности и
              выживаемости. Позволяет развивать огромную скорость, набирать
              большую высоту, смягчать падения, кайтить как боженька.
            </p>

            <p>
              С ним вы превращаетесь в своеобразного саппорта, ещё сильнее
              акцентируя внимание на добыче ресурсов. Однако, боевая способность
              у вас всё ещё хорошая, а также выживаемость, за счёт мобильности.
              Актуален как минимум на 2/2 миссиях и выше, где вы будете
              единственным, кто сможет обсосать всю пещеру, и сделать это
              быстро.
            </p>
            <p>
              36 патронов с головой хватает для попрыгушек, поэтому я немного
              усилил урон. В Т5 всё по желанию, я взял огонь для поджога больших
              ребят и бонуса по тем, кто к нему слаб.
            </p>
            <p>
              Факт: максимальная скорость развивается, если выпустить оба
              патрона сразу, нежели по очереди. Также, можно отменить полностью
              урон от падения выстрелом под себя.
            </p>
          </h3>
        </div>
      </div>
      <div class="flex-container">
        <div>
          <img src="Stuffed shells.png" alt="Bullets of mercy" />
        </div>
        <div class="text">
          <h2>Stuffed shells</h2>
          <h3>
            <p>
              Сетап чисто взорвать кому-нибудь зад. Неплохой ДПС, но плохой
              суммарный урон, по патронам можете просесть. Если такое будет
              происходить, попробуйте мод на патроны в Т3. В принципе, с
              пробитием можно и толпу бабахнуть, но разброс очень сильно мешает,
              для этого лучше использовать основное оружие или Shaped shells.
            </p>
          </h3>
        </div>
      </div>
      <div class="flex-container">
        <div>
          <img
            src="Jumbo shells.png"
            alt="AI_stability_engine"
          />
        </div>
        <div class="text">
          <h2>Jumbo shells</h2>
          <h3>
            <p>
              Прикол в том, что обычный зелёный оверклок из прошлой сборки
              просто намного лучше в ДПСе и бурсте. Поэтому с этой штукой мы
              размажем наш урон на максимальное количество патрон и получим
              топовый среди бумстиков суммарный урон. Точно так же разряжаем 2
              сочных дилдo в зад зелёным ребятишкам.
            </p>
          </h3>
        </div>
      </div>
      <div class="flex-container">
        <div>
          <img src="Shaped shells.png" alt="AI_stability_engine" />
        </div>
        <div class="text">
          <h2>Shaped shells</h2>
          <h3>
            <p>
              Эту штукенцию я использую с Bullets of mercy на GK2, чисто для
              поджога. Солидный клок, потому что за малейший недостаток даёт
              ощутимый бонус. Если надо полыхнуть спитболера, менаса и т.д., то
              это отличный вариант. Моды на хорошее количество патрон и
              приемлемый для поджога демедж. Также армор брейк, чтобы получать
              полный эффект от урона, дабы не было ситуаций, когда за 2 патрона
              противнику осталась писeчка до поджога. А пока вы перезаряжаетесь,
              весь нагрев уже спал.
            </p>
            <p>
              Можно билдить и без огня, чисто в пробитие бомжей. С таким билдом,
              само собой, стоит не использовать огонь. Моды - 11312.
            </p>
          </h3>
        </div>
      </div>
    </main>
    <lasted>
      <h2>О других оверклоках</h2>
      <ul>
        <li>
          Double barrel - Не обращайте внимания на старую картинку и отсутствие
          новой. Оверклок в 4 сезоне стал совсем не чистым, а грязным. В том
          плане, что был изменён полностью и перемещён в нестабильные. Теперь
          делает мощное АоЕ на 220 урона, с правильным модом, в области перед
          игроком. Кстати о модах, первые 4 тира не меняются. Патроны,
          перезарядка, патроны, шоквейв. В пятом уже по желанию. 220 урона это
          очень много: ваншот слэшера и бОльшая часть хп гварда. Но мне не
          нравится очень маленькое расстояние действия волны - 4 метра. Это
          ровно 2 дворфа в длину, если мерить с головы до ног. Нужно находиться
          буквально вплотную. Зато суммарного урона до жопы - ~9000. Больше
          любого дробовика, в теории, по одиночной цели. Но урон от шоквейва
          режется по противникам со стойкостью к взрывному урону (именно такой
          тип урона у волны). В целом, довольно хороший.
        </li>
        <li>
          Compact shells это прямая альтернатива Stuffed shells, с уроном,
          размазанным по патронам и чуть-чуть ускоренной перезарядкой.
        </li>
      </ul>
    </lasted>
  </body>
</html>
