<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="shablon.css">
    <link rel="icon" href="overcl.ico">
    <title>DeepcoreGK2</title>
</head>
<body>
    <Header>
        <h1>DeepcoreGK2</h1>
    </Header>
<main>
<div class="flex-container">
    <div>
        <img src="DeepcoreGK2_AI_stability_engine.png" alt="AI_stability_engine">
    </div>
    <div class="text">
        <h2>
            AI_stability_engine
        </h2>
        <h3>
            Чего даёт? Идеальную точность на любом расстоянии и бонус по викпоинтам. Можно сравнить с Палачом на Lok-1, но эта имеет более размазанный урон (больше патронов, меньше урон). Очевидно надо целить именно викпоинты и трахать тех, у кого эти викпоинты дают самый большой бонус (мактеры, например). Использовать, также, против больших и попастых.

Первые 4 модификации не меняются. В Т1 берётся скорострельность ради ДПСа, а также потому что точность бесполезная, а скорость перезарядки на фоне скорострельности не очень. Далее, урон, магазин и бонус по слабым местам. К сожалению, если взять патроны, то даже с тем же модом в 4 тире грунт не умирает с 2 выстрелов в голову (надо было это им запороть да), поэтому урон. Суммарный урон выходит примерно одинаковый, за счёт бонуса по викпоинтам, но очень необходима вторичка против толп к этой сборке. А магазин, понятное дело, потому что отдача бесполезная с идеальной точностью. В Т5 же можно брать что угодно, я взял стан ради улучшенного контроля, но и другие 2 мода тоже хорошие.

        </h3> 
    </div>
</div>
<div class="flex-container">
    <div>
        <img src="Bullets_of_mercy.png" alt="Bullets of mercy">
    </div>
    <div class="text">
        <h2>
            Bullets of mercy
        </h2>
        <h3>
            <p>
                Можно назвать прямым апгрейдом базовой пушки, ибо уменьшение магазина контрится одним модом. Вкратце, по многим отрицательным эффектам наносит на 33% 50% больше урона.
                Моды абсолютно стандартные, а также ранее упомянутый магазин в Т3. Но, в 5 тире обязательно брать улучшенный стан, ведь это один из источников нашего "баффа".
            </p>
    
            <p>Очевидно, лучше всего раскрывается в пару с дробовиком на поджог, крио-пистолетами и арбалетом.</p>
        </h3> 
    </div>
</div>
<div class="flex-container">
    <div>
        <img src="Overclocke_ firing_mechanism.png" alt="AI_stability_engine">
    </div>
    <div class="text">
        <h2>
            Overclocked firing mechanism
        </h2>
        <h3>
            Мой выбор на дредноутов, если я по какой-то неизвестной причине захочу взять GK2. Цель - ДПС. Все моды взяты именно для этого. В данном случае в 5 тире по желанию. Ради ещё большего урона в секунду нужно взять урон в Т2, но обычно беру патроны - побольше тоталка, поменьше потерь от промахов.
        </h3> 
    </div>
</div>
<div class="flex-container">
    <div>
        <img src="Overclocke_ firing_mechanism.png" alt="AI_stability_engine">
    </div>
    <div class="text">
        <h2>
            Electrifying reload
        </h2>
        <h3>
            <p>
                Единственный оверклок, который может составить конкуренцию Драку в зачистке роев. Но довольно поломаный в использовании.
            </p>
            <p>Сборка даёт контроль толпы, бесплатный урон и неплохую ДоТу электричества. Как играть? Покрыли как можно больше жуков пулями, нажали перезарядку и тут же отменили анимацию, подстрелили ещё группу жуков, повтор. Фиолетового можно убить с 1 выстрела и перезарядки. На грунта так же уходит стабильно 1 патрон в тело, после 3 сезона. Приятно, что каждая пуля наносит небольшой моментальный урон при перезарядке.
                По сути, это суппорт с сильным замедлением по толпе и неплохим уроном.
            </p>
            <p>Что по модам? Перезарядка для удобства и поддержки клока. Магазин вместо отдачи, потому что его иногда не хватает. Армор брейк берём потому что в основном стреляем в тело, а также потому что для работы оверклока необходимо чтобы пуля попала в противника. Мод позволяет выстрелам игнорировать лёгкую броню и упрощает жизнь против противников с тяжёлой бронёй (шеллбек, стингтейл и др.), с которыми без этого мода будете страдать. А бонус по слабым местам не очень полезен, ведь подавляющая часть урона исходит от электричества. В последнем тире я взял скорострельность, ибо мы её пропустили в Т1, повышает ДПС заметно. Беготня тоже хороший выбор, а стан бесполезно улучшать, потому что мы не целим викпоинты.</p>
            <p>Неплох на индустриальном саботаже, чтобы портить жизнь патрульным и контролировать местность вокруг хакера, но против турелей вам будет плохо.</p>
        </h3> 
    </div>
</div>
</main>
<lasted>
    <h2>О других оверклоках</h2>
    <ul>
        <li>Рандом урон - все зависит от вашей удачи, другие 2 неплохи, но остальные лучше.</li>
    </ul>
</lasted>
</body>