<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="shablon.css" />
    <link rel="icon" href="overcl.ico" />
    <title>DRAK-25</title>
  </head>
  <body>
    <header>
      <h1>DRAK-25</h1>
    </header>
    <main>
      <div class="flex-container">
        <div>
          <img src="Impact deflection.png" alt="AI_stability_engine" />
        </div>
        <div class="text">
          <h2>Impact deflection</h2>
          <h3>
            Сразу рассмотрим ныне сломанную сборку. Из-за отскока, который даёт
            оверклок, взрыв от мода в Т4 срабатывает дважды. Тем самым, стреляя
            прямо перед хитбоксом жуков в землю, взрыв происходит 1 раз об
            землю, а второй об жука. Это даёт нереальный потенциал зачистки
            роев, так ещё и взрыв может задеть нескольких противников. В модах
            берём всё что позволит нам стрелять дольше и эффективнее
            расправляться с толпами. Единственный минус этой сборки это летающие
            противники. Из-за взрыва уменьшен урон в викпоинты, а электрификации
            просто нет. Но на помощь всегда придут союзники или вторичка. C
            другой стороны, знатно протрахивает свормеров (роевиков) из-за
            рикошета и взрыва.
          </h3>
        </div>
      </div>
      <div class="flex-container">
        <div>
          <img src="Thermal_exhaust_feedback.png" alt="Bullets of mercy" />
        </div>
        <div class="text">
          <h2>Thermal exhaust feedback</h2>
          <h3>
            <p>
              С должным обращением выдаёт невообразимый тотал урон, а с этим ещё
              и поджог с ДПСом. Охлаждение надо брать в Т1, но в Т3 стоит
              задуматься, потому что мы как можно дольше хотим оставаться выше
              50% нагрева. Если мы не возьмём охлаждение, то легче будет
              оставаться на "красном" уровне. Если же возьмём, то большее
              количество времени сможем проводить в режиме стрельбы. Тем, кто
              как я не может балансировать нормально, брать не советую.
              Остальное стандартно.
            </p>

            <p>
              Силу этого оверклока можно полностью оценить на мактера бомбере,
              т.к. он жирный и уязвим к огню. Так вот, вы его трахните, а потом
              сожжёте. Всё же к этому оверклоку нужно привыкать и учиться
              держаться выше 50%, чтобы высосать весь потенциал из него, что у
              меня до сих пор должным образом не получается. Но тут дело только
              рук и желания.
            </p>
            <p>
              Существует возможность темп шокать с ним, но это скорее ниша, чем
              то, что вы будете использовать постоянно. Всё равно я с ним беру
              крио Жуковы, ибо можно заморозить каких-нибудь преториана или
              спитболлера, растрахать выстрелами, а когда они начнуть поджигать,
              то добьют шоком.
            </p>
            <p>
              Факт: в игре описание оверклока неполное. Добавляет 3 урона за
              каждые 10% нагрева после 50%, с максимумом в 12.
            </p>
          </h3>
        </div>
      </div>
      <div class="flex-container">
        <div>
          <img
            src="OvertunedPrticleAccelerator.png"
            alt="AI_stability_engine"
          />
        </div>
        <div class="text">
          <h2>Overtuned particle accelerator</h2>
          <h3>
            <p>
              Модами мы почти нивелируем недостатки оверклока, и всё что
              остаётся это целые +8 урона и небольшое уменьшение патронов.
              Отличный бурст и суммарный урон. Послужит вам верно против грунтов
              и преторианов.
            </p>

            <p>
              Хорошим компаньоном билда станет крио, чтобы увеличить наш
              огромный урон в 3 раза.
            </p>
          </h3>
        </div>
      </div>
      <div class="flex-container">
        <div>
          <img
            src="Aggressive_venting.png"
            alt="AI_stability_engine"
          />
        </div>
        <div class="text">
          <h2>Aggressive venting</h2>
          <h3>
            <p>
              Единственный оверклок, который может составить конкуренцию Драку в
              зачистке роев. Но довольно поломаный в использовании.
            </p>
            <p>
              Ох щас пойдут цЫферки. Эффект от клока зависит от нагрева, поэтому
              с первым модом в Т1 при 50% нагрева вы получите только половину
              эффекта, даже не поджигая рядом стоящих грунтов. Если же мы
              сливаем волну духоты на полном перегреве, то даём всем 60 нагрева,
              что достаточно для поджога гвардов (если рядом с ними подожжётся
              ещё кто-то) и увеличивает урон от эффекта горения. Именно поэтому
              не стоит брать мануальный прожим вентинга, а лучше пикнуть доп.
              скорострельность. Однако, если научиться, то с мануальным
              перегревом будет эффект лучше.
            </p>
            <p>
              В модах мы берём всё, что позволит нам добраться до перегрева
              быстрее, запрыгнуть в толпу и выпустить смертельную отдушину.
              Бонусом получаем ускорение на 50% от перегрева с апгрейдом в 3
              строке. А электричество, мало того что является дефолтом, даст нам
              возможность снайпить и иметь неплохой успех по одиночным целям. Но
              преторианов не стоит лазерить всё равно, используйте сингл таргет
              доп. оружие.
            </p>
            <p>
              Недавно птичка нашептала, что идеально сочетается с канистрой с
              феромонами. Кинули баночку соплей => запрыгнули в толпу, попутно
              обстреливая всех выстрелами => перезарядились, пуская в ужас всех
              кто попался в радиус.
            </p>
          </h3>
        </div>
      </div>
    </main>
    <lasted>
      <h2>О других оверклоках</h2>
      <ul>
        <li>
          Shield battery booster - В 4 сезоне доработали и добавили ощутимый
          бафф к пассивной регенерации щита. Даёт 5.5 урона при полном щите и
          другие незаметные бонусы, взамен на проблемы с нагревом и полную
          потерю щита при перегреве (бонус к перезарядке щита на это не
          действует). Получив любую каплю урона, оверклок перестаёт работать
          вовсе. С Т1А модом брони у вас получается около 1 секунды задержки до
          перезарядки щита. Получается своеобразный танк-скаут, и, за счёт
          этого, оверклок стал хотя бы играбельным. Тем не менее, мне он всё ещё
          не симпатизирует. Так же как раньше полностью теряется доп. урон при
          наступлении на лаву, укусе роевика и т.д. Да и ниши у него как-то нет.
        </li>
        <li>
          Rewiring mod - На фоне предыдущего, оверклок нормальный, но тоже
          стреляет себе в ногу. Чтобы сгенерировать патроны, нужно перегреться.
          А длительность перегрева увеличена. Возврат патронов так же зависит от
          нагрева. При максимальном возвращает примерно 31 патрон. Именно с этим
          клоком нужно брать мануальный перегрев. С постоянными и длительными
          перегревами прожить можно, правда ДПС и сустейн при этом скатываются в
          помойку.
        </li>
        <li>
            Thermal liquid coolant - Сказать почти нечего. Даёт улучшенное охлаждение, но сильно превосходим другими сборками.
        </li>
      </ul>
    </lasted>
  </body>
</html>
